//Font link, it's family is declared in variables.scss
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

@import './variables';
@import './mixins';

body{
    margin: auto;
    padding: 0;
    text-align: center;
}
.threeD-box{
    background-color: gray;
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-side{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.one{
    transform: skew(-20deg);
    background-color: red;
}
.two{
    // transform: skewX(45%);
    transform:skew(-10deg, 25deg);
    background-color: greenyellow;
}